@import '../../../styles/variables.scss';

.authorContents {
  padding: 100px 0;
  background-color: rgb(250, 250, 250);

  .authorKeywordBtns {
    @include flex(flex, row);
    margin-top: 40px;

    button {
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .authorWrapper {
    @include grid(grid, repeat(3, 1fr), 20px);
    margin-top: 40px;

    .authorCard {
      @include flex(flex, column, auto, center);
      position: relative;
      width: 310px;
      height: 370px;
      padding: 45px 30px;
      background-color: white;

      img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        border: none;
        border-radius: 100%;
      }

      .authorName {
        margin-bottom: 10px;
        @include themeFont;
        font-size: 20px;
      }

      .authorJob,
      p {
        color: rgb(154, 154, 154);
      }

      .authorJob {
        margin-bottom: 20px;
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }

      .authorKeywordBtns {
        position: absolute;
        bottom: 50px;
        margin-top: 20px;
      }
    }
  }
}
