@import '../../../../styles/variables.scss';

.detailHeader {
  .mainImg {
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .mainCover {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }

    .mainName {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      width: 970px;
      transform: translateX(-50%);

      h1 {
        margin-bottom: 1rem;
        color: white;
        @include themeFont;
        font-size: 3.8rem;
        line-height: 4.5rem;
        word-break: keep-all;
      }

      .intro {
        margin-bottom: 3rem;
        color: white;
        font-size: 1.2rem;
      }

      .date {
        color: white;
        font-size: 0.9rem;

        span {
          color: white;

          &::before {
            padding: 0 0.5rem;
            content: '·';
          }

          &::after {
            padding: 0 0.5rem;
            content: '';
          }
        }
      }
    }
  }
}
