@import '../../styles/variables.scss';

.footer {
  padding: 2rem 0 3rem;
  background: #000;
  font-size: 0.9rem;

  .footerWrapper {
    width: 970px;
    margin: 0 auto;

    .footerUp {
      @include flex(flex, row, space-between);
      padding-bottom: 2rem;
      border-bottom: 1px solid #999;

      .logoWrapper {
        h2 {
          margin-bottom: 1rem;
          color: white;
          font-family: 'Tangerine', cursive;
          font-size: 2.4rem;
        }

        p {
          color: #999;
          line-height: 1.1rem;
        }
      }

      .pageList {
        display: flex;
        padding-top: 9px;

        li {
          margin-left: 2rem;
          color: #999;
          font-size: 0.9rem;
          font-weight: bold;
          line-height: 2;
        }
      }
    }
    .footerDown {
      @include flex(flex, row, space-between);
      margin-top: 2rem;

      ul {
        display: flex;

        li {
          margin: 0 1rem 0.5rem 0;
          color: #999;
        }
      }

      p {
        color: #999;
      }
    }
  }
}
