@import '../../styles/variables.scss';

.Footer {
  padding: 2rem 0 3rem;
  background: #000;
  font-size: 0.9rem;

  .footerWrapper {
    width: 970px;
    margin: 0 auto;

    .footerUp {
      padding-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #999;

      .logoWrapper {
        h2 {
          font-family: 'Tangerine', cursive;
          margin-bottom: 1rem;
          font-size: 2.4rem;
          color: white;
        }
        p {
          color: #999;
          line-height: 1.1rem;
        }
      }

      ul {
        list-style: none;
        display: flex;

        li {
          margin-left: 2rem;
          font-size: 1.1rem;
          color: #999;
          line-height: 2;
          font-weight: bold;
        }
      }
    }
    .footerDown {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;

      ul {
        list-style: none;
        display: flex;

        li {
          margin: 0 1rem 0.5rem 0;
          color: #999;
        }
      }

      p {
        color: #999;
      }
    }
  }
}
