@import '../../../../styles/variables.scss';

.detailText {
  .mainText {
    .textWrapper {
      width: 970px;
      margin: 0 auto;
      padding: 8rem 0 5rem;
      color: #333;
      font-size: 1.1rem;
      line-height: 2rem;
      word-break: keep-all;

      img {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }

  .buttonWrapper {
    @include flex(flex, row, space-between);
    position: relative;
    width: 970px;
    margin: 0 auto 8rem;

    .tagBtn {
      button {
        margin-right: 0.5rem;
        padding: 10px 23px;
        transition: 0.3s;
      }
    }

    .heartBtn {
      display: flex;

      p {
        margin-right: 0.5rem;
        color: #333;
        font-size: 1.1rem;
        line-height: 1.8rem;
      }

      .icon {
        width: 30px;
        height: 30px;
        background-size: cover;
        background-position: center;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}
