@import '../../styles/variables.scss';

.signUp {
  @include flex(flex, 0, center, center);
  height: 100%;
  background-color: #ffffff;

  .signUpWrap {
    @include flex(flex, 0, center, center);

    .signUpLogo {
      @include flex(flex, 0, center, center);
      width: 440px;
      height: 500px;
      padding: 40px;
      border: 1px solid lightgrey;
      border-right: none;

      h1 {
        margin: 0 0 30px;
        font-family: 'Tangerine', cursive;
        font-size: 60px;
        text-align: center;
      }
    }

    .signUpInner {
      position: relative;
      width: 440px;
      height: 500px;
      padding: 40px;
      border: 1px solid lightgrey;

      .signUpForm {
        display: flex;
        flex-direction: column;

        .inputDiv {
          @include flex(flex, row, center, center);
          border-bottom: 1px solid lightgrey;
        }

        .check {
          width: 20px;
          height: 20px;
        }

        input {
          height: 40px;
          width: 358px;
          border: none;
          outline: none;
          font-size: 15px;
        }

        input,
        textarea {
          cursor: text;
        }

        #authorName {
          margin-top: 30px;
          border-bottom: 1px solid lightgrey;
        }

        #authorJob {
          border-bottom: 1px solid lightgrey;
        }

        #authorIntro {
          height: 80px;
          margin-top: 30px;
          padding: 5px;
          border: 1px solid lightgrey;
          font-size: 15px;
          resize: none;
          outline: none;
        }

        .commonBtn {
          height: 40px;
          margin: 35px 0;
          border: none;
          border-radius: 3px;
          color: white;
          @include theme('false', 'false', 'true');
          font-size: 16px;
        }

        .ableBtn {
          opacity: 0.8;
          cursor: pointer;
        }

        .disableBtn {
          opacity: 0.5;
        }
      }
    }
  }
}
