@import '../../styles/variables.scss';

.nav {
  .popup {
    position: fixed;
    left: 0;
    width: 270px;
    height: 100vh;
    border-right: 1px solid #ddd;
    background-color: white;
    z-index: 99;
    transition: 0.3s ease-in;

    .userInfo {
      @include flex(flex, column, center, center);
      height: 35%;
      border-bottom: 1px solid #ddd;
      background: #f6f6f6;
      text-align: center;

      .infoWrapper {
        .userImg {
          width: 80px;
          height: 80px;
          margin: 0 auto 1rem;
          border-radius: 100%;
          background-size: cover;
          background-position: center;
        }

        h4 {
          margin-bottom: 1rem;
          color: black;
          font-weight: bolder;
        }

        p {
          width: 180px;
          color: #999;
          line-height: 1.1rem;
        }
      }
    }

    .mainNav {
      @include flex(flex, column, auto, center);
      height: 40%;
      padding-top: 40px;
      text-align: center;

      div {
        padding: 2rem;

        a {
          display: block;
          position: relative;
          left: 50%;
          width: 100px;
          background: white;
          transform: translateX(-50%);
          z-index: 99;

          &::after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            height: 1px;
            background: linear-gradient(
              to left,
              #ffaa00 30%,
              white 30% 70%,
              #ffaa00 70%
            );
            opacity: 0.6;
            content: '';
            transform: translate(-50%, -50%);
            transition: all 0.1s ease-in-out;
            z-index: -1;
          }

          &:hover::after {
            width: 180px;
          }

          &:link,
          &:visited {
            color: #333;
            text-decoration: none;
            transition: 0.3s;
          }

          &:hover,
          &:active {
            color: #ffaa00;
            cursor: pointer;
          }
        }
      }
    }

    .buttonWrapper {
      @include flex(flex, column, center, center);
      height: 25%;

      .hotTopic {
        width: 70%;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid black;
        cursor: pointer;

        h4 {
          width: 65%;
          margin: 0 auto;
          color: black;
          font-family: 'Nanum Myeongjo', serif;
          font-size: 1.1rem;
          line-height: 1.5rem;
          cursor: pointer;
        }
      }

      .settings {
        @include flex(flex, row, space-between);
        width: 70%;
        margin: 0 auto;
        padding: 3rem 0;

        button {
          padding: 10px 23px;
          color: #999;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            @include themeColor;
          }
        }
      }
    }
  }

  .hide {
    left: -300px;
  }
}
